.zoom {
  transition: transform 0.3s ease;
}
.zoom:hover {
  transform: scale(1.1);
}

.table-button {
  border: 1px;
  border-radius: 4px;
  padding: 5px;
  display: block;
  background-color: #666ee8;
  text-align: center;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px

}
.table-button:hover {
  color: white;
  opacity: 80%;
}

.wrapper-foot {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper takes up at least the full height of the viewport */
}

.content-foot {
  flex-grow: 1; /* Allow the content to grow to fill the remaining space */
}

.Footer {
  margin-top: auto; /* Push the footer to the bottom of the wrapper */
}
