.dropLogo {
  height: 27px;
}

.assigned_gallery {
  font-size: x-large;
}

.package_box {
  border: 2px solid blue;
  border-radius: 0.45rem;
}

.service_box {
  border: 2px solid green;
  border-radius: 0.45rem;
}

/* .black-logo{
  height: 40px;
} */


.logo img{
	width:10rem;
	height: auto;
}
.brand-logo{
	width:10rem;
	height: auto;
}

button.btn.btn-secondary {
  background-color: #5a5d6d !important;
}

button.btn.btn-danger {
  background-color: red !important;
}

button.btn.btn-warning {
  background-color: #ff9149 !important;
}

button.btn.btn-success {
  background-color: green !important;
}

button.btn.btn-primary {
  background-color: #666ee8 !important;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex: 1;
}

.col-xl-4.col-md-4.col-12 {
  margin-bottom: 25px;
}

.col-xl-3.col-md-6.col-sm-12 {
  margin-bottom: 25px;
}